{{! part of gform-radioButtons partial }}

<div>
  <input
          type="radio"
          name="input_{{gFormFieldIndex}}"
          value="{{defaultValue}}"
          id="choice_{{gFormIndex}}_{{gFormFieldIndex}}_{{gFormSubFieldIndex true}}"
  >
  <label for="choice_{{gFormIndex}}_{{gFormFieldIndex}}_{{gFormSubFieldIndex}}">{{labelText}}</label>
</div>
