---
title: Home page
---

<section class="section-hero">
    <img class="object-fit object-fit-cover" src="{{root}}images/bgi-zero.png" alt="">
    <div class="inner">
        <div class="col">
            <div class="text">
                <p class="under-text">I lost 130 pounds</p>
                <h1 class="title">A funny thing happened on the way to the fridge<span>…</span></h1>
                <p>Regardless of where you are in your journey – just starting, in the middle, or done and enjoying your newfound health – this site is for you.</p>
                <a class="btn" href="#">Join Me</a>
            </div>
        </div>
        <div class="col">
            <ul class="img-list">
                <li><img src="{{root}}images/hero-img1.png" alt="" /></li>
                <li><img src="{{root}}images/hero-img2.png" alt="" /></li>
                <li><img src="{{root}}images/hero-img3.png" alt="" /></li>
            </ul>
        </div>
    </div>
</section>

<section class="section-beginning">
    <div class="inner">
        <div class="col">
            <h2 class="title">The Beginning</h2>
            <div class="text">
                <p><b>When I started on plan, I didn't tell anybody.</b> Not because I was embarrassed, but because I wasn't really sure it was going to work. Some of that was because I didn't really know much about the plan, didn't really know anyone on plan, and let's face it, it could have been a gimmick. But more importantly, I thought I would fail. To be frank, I don't have a great track record of success when it comes to dieting or maintaining my weight. I was a Yo-Yo PRO!</p>
                <p>I found that the only reason certain people in my life found out I was on plan was because I was around them when my food alarm went off and I had to eat a bar in front of them. Only then would I own up to what I was doing. That's how I gathered “my five”. I came clean and asked them to help me.</p>
                <a class="link" href="#">Want to know what happened next?</a>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="{{root}}images/img-beginning-section.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="section-stories">
    <div class="inner">
        <div class="col">
            <ul class="img-list">
                <li><img src="{{root}}images/hero-img1.png" alt="" /></li>
                <li><img src="{{root}}images/hero-img2.png" alt="" /></li>
            </ul>
        </div>
        <div class="col">
            <h2 class="title">I’ve been on a diet for two weeks and <br> all I’ve lost is two weeks.</h2>
            <div class="text">
                <p class="under-title">Totie Fields</p>
                <p><b> I've struggled with my weight my entire life.</b> I had periods of being thinner, and periods of not caring. Life was not only a yo-yo, it was a life of extremes. I was either eating in a super strict manner (and feeling miserable and like I was punishing myself) or I just said, “screw it' and ate whatever I wanted, indulging in whatever I felt like eating, WHENEVER I felt like eating it. Throw cancer into the mix and it was very hard to want to “diet” when you're in pain, just trying to get through the day, limited in what you can physically do, or just plain scared.</p>
                <p><b> Food is definitely my love language.</b> I love cooking and baking, and the truth is, that's how I show you I love YOU too! Food is the ultimate form of comfort, love, coping, fun, community…it was the center of my universe.</p>
                <a class="btn" href="#">Read full story</a>
            </div>
        </div>
    </div>
</section>

<section class="section-plan">
    <div class="inner">
        <div class="col">
            <h2 class="title">My world</h2>
            <div class="text">
                <p class="above-text">The PLAN</p>
                <h3>I <span>PLAN</span> to let you into my world both before and now.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor.</p>
                <ul class="list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Consectetur adipiscing elit. Erat libero urna, ac facilisi. </li>
               </ul>
               <a class="btn" href="#">See how I will do it</a>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="{{root}}images/section-plan-img.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="section-achievement">
    <div class="inner">
        <h2 class="title">What we are trying to accomplish</h2>
        <div class="content">
            <div class="col">
                <div class="img">
                    <img src="{{root}}images/section-achievement-phone.png" alt="" />
                </div>
            </div>
            <div class="col">
                <a class="video-link" href="https://www.youtube.com/watch?v=EsloYeP2Jn8">
                    <img src="{{root}}images/section-video-img.png" alt=""/>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="btn-wrapper">
            <a href="#" class="btn">Join me</a>
        </div>
    </div>
</section>

<section class="section-members">
    <div class="inner">
        <h2 class="title">From our members</h2>
        <div class="content">
            <div class="col">
                <div class="review">
                    <p>''Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.Volutpat varius pellentesque dolor lacus, in et tortor.''</p>
                    <p class="author">Alyssa G.</p>
                    <p>Pennsylvania</p>
                </div>
                <div class="review">
                    <p>''Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor.''</p>
                    <div class="author">Justin H. </div>
                    <p>West Virginia</p>
                </div>
                <div class="review">
                    <p>''Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor.''</p>
                    <p class="author">Kristin H.</p>
                    <p>Missouri</p>
                </div>
            </div>
            <div class="col">
                <div class="item">
                    <div class="img">
                        <img src="{{root}}images/sectionp-members-img.png" alt="" />
                    </div>
                    <div class="text">
                        <p>''Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.''</p>
                        <p class="author">Amanda T.</p>
                        <p>Kansas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-questions">
    <div class="inner">
        <h2 class="title">Frequently asked questions</h2>
        <h3 class="under-title">FAQ</h3>
        <ul class="questions-list">
            <li class="item">
                <div class="text">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.</p>
                </div>
            </li>
             <li class="item">
                <div class="text">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam. Consequat lacus, convallis odio.</p>
                </div>
            </li>
             <li class="item">
                <div class="text">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam. Consequat lacus, convallis odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis.</p>
                </div>
            </li>
             <li class="item">
                <div class="text">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat libero urna, ac facilisi. Volutpat varius pellentesque dolor lacus, in et tortor. Euismod tristique aliquam velit ut viverra duis. Consequat lacus, convallis odio.</p>
                </div>
            </li>
        </ul>
        <div class="btn-wrapper">
            <a href="#" class="btn">Lorem ipsum</a>
        </div>
    </div>
</section>

<section class="section-blog">
    <div class="inner">
        <h2 class="title">From my blog</h2>
        <div class="content">
            <div class="item">
                <div class="img">
                    <img src="{{root}}images/section-blog-item1.png" alt="" />
                </div>
                <div class="text">
                    <p class="data">01.07.2021</p>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod mattis amet pharetra feugiat leo in cras ultrices mollis. Faucibus aliquam egestas eleifend aliquet tortor. Egestas pulvinar eu dolor, orci. Ipsum magna nam mi molestie at amet maecenas pretium a.</p>
                    <a class="link" href="#">Learn more</a>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="{{root}}images/section-blog-item2.png" alt="" />
                </div>
                <div class="text">
                    <p class="data">01.07.2021</p>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod mattis amet pharetra feugiat leo in cras ultrices mollis. Faucibus aliquam egestas eleifend aliquet tortor. Egestas pulvinar eu dolor, orci. Ipsum magna nam mi molestie at amet maecenas pretium a.</p>
                    <a class="link" href="#">Learn more</a>
                </div>
            </div>
        </div>
        <div class="link-wrapper">
            <a class="link" href="#">Become a Member to access all of our content</a>
        </div>
    </div>
</section>

<section  class="section-collage-story">
    <div class="inner">
        <div class="col">
            <h2 class="title">Believe</h2>
            <div class="text">
                <h3><span>I PLAN</span> to let you into my world both before and now. </h3>
                <p>I hope that something... <br> <b>ANYTHING</b> on this site resonates with you, regardless of where you are in your journey – just starting, in the middle, or done and enjoying your newfound health.</p>
                <a href="#" class="btn">Read full story</a>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="{{root}}images/collage.png" alt="" />
            </div>
        </div>
    </div>
</section>